<%= render 'layouts/nav' %><br>

<h1>Toutes les agences2</h1>

<%= search_form_for @search do |f| %>
    <%= f.label :responsable_cont, "responsable" %>
    <%= f.text_field :responsable_cont %>
    <%= f.label :cp_cont, "Cp :" %>
    <%= f.text_field :cp_cont %>
    <%= f.label :raison_sociale_cont, "RS :" %>
    <%= f.text_field :raison_sociale_cont %>

    <%= f.submit "Search" %>


<% end %>

<table>
  <tr>

    <th><%= sort_link @search, :raison_sociale, "Raisons sociale" %></th>
    <th><%= sort_link @search, :responsable, "Responsable" %></th>
    <th><%= sort_link @search, :telephone, "Téléphone" %></th>
    <th>progouinon</th>
    <th>created_at</th>
    <th>updated_at</th>
    <th>email</th>
    <th>rappeleouinon</th>
    <th>rappel</th>
    <th>adresse</th>
    <th>cp</th>

  </tr>
  <% @agences.each do |a| %>
      <tr>
        <td> <%= link_to a.raison_sociale, a %></td>
        <td> <%= a.responsable %></td>
        <td> <%= a.telephone %></td>
        <td> <%= a.progouinon %></td>
        <td> <%= a.created_at %></td>
        <td> <%= a.updated_at %></td>
        <td> <%= a.email %></td>
        <td> <%= a.rappelouinon %></td>
        <td> <%= a.rappel %></td>
        <td> <%= a.adresse %></td>
        <td> <%= a.cp %></td>
      </tr>

<% end %>