<%=	 render 'layouts/nav' %>
<h1>Bienvenue Liste des Groupes</h1>

<%= search_form_for @search do |g| %>

    <%= g.label :nom_cont, "Nom" %>
    <%= g.text_field :nom_cont %>

    <%= g.label :ville_cont, "Ville" %>
    <%= g.text_field :ville_cont %>

    <%= g.submit "Search" %>
    <% end %>


<% @groupes.each do |g| %>
    __________________________________________________________<br>
    <%= link_to g.id, g %>
    <%= g.nom %> <br>
    <%= g.num_rue %><br>
    <%= g.type_voie %><br>
    <%= mail_to g.adresse %> <br>
    <%= g.cp %><br>
    <%= g.tel %><br>
    <%= g.email %><br>
    <%= g.contact_civilite %><br>
    <%= g.contact_prenom %><br>
    <%= g.contact_nom %><br>
    <%= g.siret %><br>

<% end %>